---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout
	title="404 error"
	description="This page does not exist"
	>
	<main>
		<h1>This page doesn't exist</h1>
		<img src="/banner.jpg" alt="Banner image">
		<p>You may have followed a broken link, or who knows what you've done.</p>
		<p><a href="/">Return to homepage</a></p>
	</main>
</BaseLayout>
