---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<main>
		<p>I have to come out with a better layout than this, but I want to tell you that:</p>
		<h1>This page doesn't exist</h1>
		<p>You may have followed a broken link, or who knows what you've done.</p>
		<p><a href="/">Return to homepage</a></p>
	</main>
</BaseLayout>
