---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogItem from "../components/BlogItem.astro";
const allPosts = Object.values(import.meta.glob('./blogs/*.mdx', { eager: true }));
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---
<BaseLayout
	title="astrid's blogs"
	description="This is just a bunch of stuff I like to write about."
	>
	<h1>My blogs</h1>
	<p>I sometimes write about random stuff. Here they are: <br><small>(<a href="/rss.xml">RSS Feed</a>)</small></p>
	{allPosts.map((post: any) => <BlogItem url={post.url} title={post.frontmatter.title} pubDate={new Date(post.frontmatter.pubDate).toLocaleDateString('en-GB')} description={post.frontmatter.description} />)}
</BaseLayout>
