---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout
	title="tailor's drawer - astrid"
	description="A compilation of random stuff"
	>
	<h1>My tailor's drawer</h1>
	<p>
		There's a Spanish expression called "tailor's drawer" (<a href="https://dle.rae.es/caj%C3%B3n#5mQvJUk">cajón de sastre</a>) used to refer to a messy collection of random items.
	</p>
	<p>
		This page is precisely that, a messy collection of random stuff I have or find interesting.
	</p>
	<h2>Links</h2>
	<p>I do recommend what I put in this section (at least at the time of writing).</p>
	<h3>Public transit related</h3>
	<ul>
		<li><a href="https://ferroviaria.cat/">Ferroviària.cat</a> <small>[ca]</small>, a PWA that tells you the ETA for rail transit in Catalonia (including Rodalies).</li>
		<li><a href="https://www.trenscat.com/">Trenscat.cat</a> <small>[ca]</small>, <em>the</em> website about trains in Catalonia.</li>
		<li><a href="http://stations.albertguillaumes.cat/">Stations and transfers</a>, a collection of 3D diagrams of different rapid transit stations around the Europe.</li>
		<li><a href="http://albertguillaumes.cat/intervals/">Metro intervals</a> <small>[ca]</small>, a website listing the intervals between each metro in every big European city.</li>
		<li><a href="https://drive.google.com/file/d/1J6lhgv7yni2lGf5uW-Jm8zGgkKt42SGh/view">RFIG map</a> <small>[Google Drive link]</small>, an unofficial map by <a href="https://bsky.app/profile/maparfig.bsky.social">maparfig (BlueSky)</a> of the Spanish rail network (managed by ADIF).</li>
	</ul>
	<h3>Software</h3>
	<ul>
		<li><a href="https://www.freedownloadmanager.org/">Free Download Manager</a> is a software I use to get higher speeds when downloading from SourceForge.</li>
		<li><a href="https://droidify.eu.org/">Droidify</a>, a better-looking F-droid client.</li>
		<li><a href="https://github.com/25huizengek1/ViTune">ViTune</a>, a fork of ViMusic, an alternative client for YTMusic.</li>
	</ul>
	<h2>Friends</h2>
	<p>This section links websites of people (or entities) I consider friends :3</p>
	<ul>
		<li>rail's website: <a href="https://flufftech.net/" target="_blank" rel="noreferrer">flufftech.net</a></li>
		<li>lux's blog: <a href="https://vulpinecitrus.info/" target="_blank" rel="noreferrer">vulpinecitrus.info</a></li>
		<li>Anne's website <a href="https://acute.cat/" target="_blank" rel="noreferrer">acute.cat</a></li>
	</ul>
	<h2>Hardware</h2>
	<p>The fact that I'm using this hardware doesn't mean that I recommend it. If I have it, it's probably because it was relatively cheap.</p>
	<h3>Main computer</h3>
	<ul>
		<li>ASUS Vivobook M6500R (it's a laptop I got for relatively cheap)</li>
		<li>CPU: AMD Ryzen 7 6800HS</li>
		<li>GPU: Nvidia GeForce RTX 3050</li>
		<li>RAM: 16 GB</li>
		<li>Storage: 500 GB NVMe SSD</li>
		<li>OS: Windows 11 (I will have to ditch it some day)</li>
		<li>Screen: 15" 2K OLED screen</li>
	</ul>
	<h3>Secondary computer</h3>
	<ul>
		<li>Lenovo ThinkCenter M70q</li>
		<li>CPU: Intel Core i5-10400T</li>
		<li>GPU: integrated GPU</li>
		<li>RAM: 8 GB</li>
		<li>Storage: 250 GB NVMe SSD + 500 GB HDD</li>
		<li>OS: Fedora Linux</li>
	</ul>
	<p>
		I found this mini-PC thrown next to a trash container by a random company, and it works quite well. As for the screen, I'm using a refurbished laptop screen, with a controller I bought on AliExpress.
	</p>
	<h3>Phone</h3>
	<ul>
		<li>Poco F5</li>
		<li>SoC: Qualcomm Snapdragon 7+ Gen 2</li>
		<li>RAM: 12 GB</li>
		<li>Storage: 256 GB</li>
		<li>OS: <a href="https://evolution-x.org/">Evolution X</a> (based on Lineage OS). Quite stable and smooth, with a ton of features.</li>
		<li>Accessories: Nillkin phone case. It's quite durable NGL.</li>
	</ul>
	<h3>Other stuff</h3>
	<ul>
		<li>Camera: Canon EOS 550D with a Canon EF-S 18-55 mm IS II lens. Got it second-hand for cheap, and it's quite good for what I paid for.</li>
		<li>External SSD: SanDisk Portable SSD 1 TB (800 MB/s)</li>
	</ul>
</BaseLayout>