---
import WelcomeText from '../components/WelcomeText.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="astrid's website - home"
	description="Just a silly girl"
	image=""
	>
	<div class="vi-main-wrapper">
		<div class="vi-welcome">
			<WelcomeText />
		</div>
		<main id="main">
			<section class="vi-mp-box">
				<h2>Who?</h2>
				<p>I'm astrid, a random transfem living in Catalunya right now. Probably a nerd, a bit gay and maybe neurodivergent.</p>
				<p>I like trains.</p>
				<p>oh and also taking pictures of them</p>
				<p>nya~</p>
			</section>
			<section class="vi-mp-box">
				<p>blogs:</p>
				<ul>
					<li><a href="/blogs/test">test blog 1</a></li>
					<li>test blog 2</li>
					<li>test blog 3</li>
				</ul>
			</section>
			<section class="vi-mp-box">
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorum perferendis adipisci quas maiores sed esse laborum illum sapiente molestiae doloremque excepturi ipsa quis animi, quod suscipit! Hic, incidunt nobis?
				</p>
			</section>
		</main>
	</div>
	<div class="footer">
		bonjour uwu
		<p>bondjour nya</p>
	</div>
</Layout>

<style>
	:global(.vi-navbar.vi-navbar) {
		position: fixed;
	}

	.vi-main-wrapper {
		background-image: radial-gradient(at left top, hsl(300 7% 14%/0%) 20%, hsl(300 7% 14%/50%) 65%, hsl(300 7% 14%/100%) 95%), url(../assets/sunset.jpg);
		background-position: center, center bottom;
		background-attachment: fixed, fixed;
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
	}


	@media only screen and (max-width: 899px) {
		main {
			margin-top: 4em;
			background-color: hsl(300 7% 14%/60%);
			padding: 0 2em 2em;
			position: relative
		}

		.vi-welcome {
			height: 100%;
			padding: 2em;
		}
		
		main::before {
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 6em;
			background: linear-gradient(to top, hsl(300 7% 14%/60%), hsl(300 7% 14%/0));
			content: "";
		}
	}
	@media only screen and (min-width: 900px) {
		.vi-main-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: stretch;
			justify-content: center;
			gap: 2em;
			padding: 2em;
		}

		main {
			margin-top: 100vh;
			max-width: 700px;
			margin-left: auto;
		}
	}

	.vi-mp-box {
		background-color: hsl(var(--vi-body-background-color--hsl)/80%);
		padding: 1.25rem;
		margin: 1rem 0;
		border-radius: 1.25rem;
		border: solid 1px hsl(vaR(--vi-body-color--secondary--hsl)/50%);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(10px);
	}

	.vi-mp-box h2:first-child {
		margin-top: 0.25em;
	}
</style>