---
import WelcomeText from '../components/WelcomeText.astro';
import Gallery from '../components/Gallery.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Buttons from '../components/Buttons.astro';
import Bento from '../components/Bento.astro';
---
<Layout
	title="astrid's website - home"
	description="Just a silly girl"
	image="/bannername.png"
	>
	<div class="vi-main-wrapper">
		<div class="vi-welcome">
			<WelcomeText />
		</div>
		<main id="main">
			<section class="vi-mp-box">
				<h2>Who?</h2>
				<p>Astrid (<code>she/her</code>). A random transfem living in Catalunya right now. Probably a nerd, a bit gay and maybe neurodivergent.</p>
				<p>I enjoy EDM music a lot. I like Rubik's cubes, even though I'm not very fast at it. Origami is also something I like to make sometimes. And I nerd quite a bit about trains.</p>
				<p>In my free time, I like taking silly pictures of trains in my city and its surroundings, and everywhere I go. Scroll down a bit to see some of them :3</p>
			</section>
			<section class="vi-mp-box">
				<h2>What?</h2>
				<h3>Wikis</h3>
				<p>I've collaborated in some wikis in the past, both content-wise and in the technical aspect of it. I helped designing one of the largest wikis on the Spanish side, as well as some other wikis.</p>
				<p>Unfortunately, I'm no longer as active as I used to be. However, if you have any wiki-related inquiry, I might be able to help you.</p>
				<h3>Photography</h3>
				<p>I like to go outside and take pictures of my city. It's become a small hobby of mine, even though I'm not the best at it. If you scroll down, there's a small gallery of pictures I've taken. </p>
				<p>I don't like copyright, which means that most pictures I take can be used for free; just remember to add attribution and we'll be fine.</p>
			</section>
			<section class="vi-mp-box">
				<h2>Gallery</h2>
				<Gallery />
			</section>
			<section class="vi-mp-box">
				<h2>Links</h2>
				<Bento />
			</section>
		</main>
	</div>
	<div class="vi-mp-footer">
		<Buttons />
		<Footer />
	</div>
	<a style="display: none" rel="me" href="https://owo.cafe/@astrid">Mastodon</a>
</Layout>

<style>
	:global(.vi-navbar) {
		position: fixed !important;
	}

	.vi-main-wrapper {
		background-image: radial-gradient(at left top, hsl(300 7% 14%/0%) 20%, hsl(300 7% 14%/50%) 65%, hsl(300 7% 14%/100%) 95%), url("/sunset.webp");
		background-position: center, center bottom;
		background-attachment: fixed, fixed;
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
	}

	@media only screen and (max-width: 899px) {
		main {
			margin-top: 4em;
			background-color: hsl(300 7% 14%/60%);
			padding: 0 1.25em 4em;
			position: relative
		}

		.vi-welcome {
			height: 100%;
			padding: 2em;
		}
		
		main::before {
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 6em;
			background: linear-gradient(to top, hsl(300 7% 14%/60%), hsl(300 7% 14%/0));
			content: "";
		}
	}

	@media only screen and (min-width: 900px) {
		.vi-main-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: stretch;
			justify-content: center;
			gap: 2em;
			padding: 2em 2em 6em;
		}

		main {
			margin-top: 100vh;
			max-width: 700px;
			margin-left: auto;
		}
	}

	.vi-mp-box {
		background-color: hsl(var(--vi-body-background-color--hsl)/80%);
		padding: 1.5rem;
		margin: 1rem 0;
		border-radius: 1.25rem;
		border: solid 1px hsl(var(--vi-body-color--secondary--hsl)/50%);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(10px);
	}

	.vi-mp-box h2:first-child {
		margin-top: 0.05em;
	}

	.vi-mp-footer {
		position: relative;
		padding: 3em 0 0;
	}

	.vi-mp-footer::before {
		position: absolute;
		bottom: 100%;
		left: 0;
		background: linear-gradient(to top, var(--vi-body-background-color) 10%, hsl(var(--vi-body-background-color--hsl)/0));
		content: "";
		width: 100%;
		height: 4em;
	}
</style>