---
import Miau from "../assets/miau.svg";
import GenGat from "../assets/GenGat.svg";
---
<div class="vi-buttons">
	<div>Friends :3</div>
	<a href="https://flufftech.net/" target="_blank" rel="noreferrer"><img src="https://flufftech.net/button.png" alt="rail's button" title="rail" loading="lazy"></a>
	<a href="https://vulpinecitrus.info/" target="_blank" rel="noreferrer"><img src="https://vulpinecitrus.info/vcinfo-online.png" alt="lux's button" title="lux" loading="lazy"></a>
	<a href="https://fungal.locahlo.st/" target="_blank" rel="noreferrer"><img src="https://fungal.locahlo.st/medias/88x31/fungal.locahlo.st.png" alt="fungal's 88x31 stamp" title="fungal" loading="lazy"></a>
	<a href="https://estela.moe/" target="_blank" rel="noreferrer"><img src="https://estela.moe/images/88x31estela.png" alt="estela's button" title="estela" loading="lazy"></a>
	<div>Other buttons</div>
	<img src="/buttons/astrid.png" alt="Astrid" title="me!" loading="lazy">
	<img src="/buttons/noai.png" alt="Made by a human, not by AI" title="f*ck AI" loading="lazy">
	<a href="https://ublockorigin.com/" target="_blank" rel="noreferrer"><img src="/buttons/ublock.png" alt="uBlock Origin now!" title="get uBlock" loading="lazy"></a>
	<img src="/buttons/transnow.gif" alt="Trans rights now!" title="Trans rights are human rights" loading="lazy">
	<img src="/buttons/estrogenated.gif" alt="powered by estrogen" title="girl juice hehe" loading="lazy">
	<a href="https://ics.gencat.cat/ca/Ciutadania/ap/assir/serveis/unitat-de-transit/"><img src="/buttons/transit.png" alt="transit!" title="transit!" loading="lazy" loading="lazy"></a>
	<img src="/buttons/css.jpg" alt="CSS is awesome" title="I love CSS :3" loading="lazy">
	<img src="/buttons/yeepee.gif" alt="yeepee autistic creature" title="Very neurotypical" loading="lazy">
	<img src="/buttons/anythingbut.gif" alt="Anything but Chrome" title="ewww no" loading="lazy">
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer"><img src="/buttons/byncsa.png" alt="CC BY-NC-SA" title="CC BY-NC-SA" loading="lazy"></a>
	<div></div>
	<GenGat />
	<Miau />
</div>

<style>
.vi-buttons {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	padding: 16px;
	margin: auto;
	gap: 8px;
	justify-content: center;
}

.vi-buttons img {
	margin: 0;
	border-radius: 0;
	image-rendering: pixelated;
}

.vi-buttons div {
	flex: 1 0 100%;
	text-align: center;
}

:global(.vi-buttons) {
	fill: currentColor;
}

.vi-buttons svg {
	height: 31px;
	width: auto;
}
</style>