<div class="vi-buttons">
	<div>Friends :3</div>
	<a href="https://flufftech.net/" target="_blank" rel="noreferrer"><img src="https://flufftech.net/button.png" alt="rail's button" title="rail"></a>
	<a href="https://vulpinecitrus.info/" target="_blank" rel="noreferrer"><img src="https://vulpinecitrus.info/vcinfo-online.png" alt="lux's button" title="lux"></a>
	<a href="https://fungal.locahlo.st/" target="_blank" rel="noreferrer"><img src="https://fungal.locahlo.st/medias/88x31/fungal.locahlo.st.png" alt="fungal's 88x31 stamp" title="fungal"></a>
	<a href="https://estela.moe/" target="_blank" rel="noreferrer"><img src="https://estela.moe/images/88x31estela.png" alt="estela's button" title="estela"></a>
	<div>Other buttons</div>
	<img src="/buttons/astrid.png" alt="Astrid" title="me!">
	<img src="/buttons/noai.png" alt="Made by a human, not by AI" title="f*ck AI">
	<a href="https://ublockorigin.com/" target="_blank" rel="noreferrer"><img src="/buttons/ublock.png" alt="uBlock Origin now!" title="get uBlock"></a>
	<img src="/buttons/transnow.gif" alt="Trans rights now!" title="Trans rights are human rights">
	<img src="/buttons/css.jpg" alt="CSS is awesome" title="I love CSS :3">
	<img src="/buttons/yeepee.gif" alt="yeepee autistic creature" title="Very neurotypical">
	<img src="/buttons/anythingbut.gif" alt="Anything but Chrome" title="ewww no">
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer"><img src="/buttons/byncsa.png" alt="CC BY-NC-SA" title="CC BY-NC-SA"></a>
</div>

<style>
.vi-buttons {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	padding: 16px;
	margin: auto;
	gap: 8px;
	justify-content: center;
}

.vi-buttons img {
	margin: 0;
	border-radius: 0;
}

.vi-buttons div {
	flex: 1 0 100%;
	text-align: center;
}
</style>