<div class="vi-footer">
	<p>All the content, with the exception of images and other visual content, is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-NC-SA 4.0</a></p>
	<p>Made by astrid, with <a href="https://astro.build/">Astro</a></p>
	<p>If you visit this website, you agree with the <a href="terms-of-use">Terms of Use</a></p>
</div>
<style>
.vi-footer {
	background-color: hsl(var(--vi-body-color--hsl)/5%);
	padding: 1em;
	border-radius: 1em;
	font-size: 0.8em;
	margin: 0 auto 2rem;
	max-width: 600px;
	max-width: min(600px, 100vw - 4rem);
	text-align: center;
}

.vi-footer a {
	white-space: nowrap;
}

.vi-footer p + p {
	margin-top: 0.5em;
}
</style>