<div class="vi-navbar">
	<a href="/" title="Gp to homepage" class="vi-navbar__homepage">
		<svg viewBox="0 0 255 255" xmlns="http://www.w3.org/2000/svg" id="aroma-logo">
			<path d="M109.14 205.954C119.687 203.998 130.558 202.977 141.666 202.977C184.648 202.977 224.149 218.278 255 243.78L158.076 65.28C158.65 71.0855 158.944 76.9741 158.944 82.9321C158.944 130.84 139.945 174.268 109.14 205.954Z" id="triangle-right"/>
			<path d="M0 243.78C79.5495 234.108 144.84 166.18 144.84 83.8212C144.84 54.6036 137.775 35.1253 127.177 11.22L0 243.78Z" id="triangle-left"/>
		</svg>		
	</a>
	<ul class="vi-navbar__social-media">
		<!-- <li>
			<a href="https://community.fandom.com/wiki/User:SimplyAroma" rel="noreferrer" target="_blank" aria-label="My Fandom profile">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="3.373 0 17.25 24" height="20"><title>Fandom (logo)</title><path d="M8.123.008a.431.431 0 0 0-.512.42v9.746L4.104 6.666a.432.432 0 0 0-.66.064.428.428 0 0 0-.071.239v10.064a2.387 2.387 0 0 0 .701 1.694l4.565 4.57a2.4 2.4 0 0 0 1.693.703h3.34a2.39 2.39 0 0 0 1.691-.701l4.565-4.572a2.394 2.394 0 0 0 .699-1.694V13.41a2.39 2.39 0 0 0-.7-1.693L8.343.125a.427.427 0 0 0-.219-.117zM9.646 12.51a.719.719 0 0 1 .508.21l1.848 1.85 1.844-1.85a.714.714 0 0 1 1.015 0l1.32 1.321a.724.724 0 0 1 .212.508v1.406a.72.72 0 0 1-.21.508l-3.68 3.7a.72.72 0 0 1-1.019 0l-3.668-3.7a.716.716 0 0 1-.209-.506v-1.408a.71.71 0 0 1 .211-.506l1.32-1.322a.713.713 0 0 1 .508-.211z"/></svg>
			</a>
		</li> -->
		<li>
			<a href="https://www.flickr.com/photos/its_astrid/" rel="noreferrer" target="_blank" aria-label="My photos" title="My photos">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" height="20"><path d="M10 14.275C11.175 14.275 12.15 13.8792 12.925 13.0875C13.7 12.2958 14.0875 11.3292 14.0875 10.1875C14.0875 9.06251 13.7 8.10001 12.925 7.30001C12.15 6.50001 11.175 6.10001 10 6.10001C8.82502 6.10001 7.85002 6.50001 7.07502 7.30001C6.30002 8.10001 5.91252 9.06251 5.91252 10.1875C5.91252 11.3292 6.30002 12.2958 7.07502 13.0875C7.85002 13.8792 8.82502 14.275 10 14.275ZM9.99502 12.6C9.29002 12.6 8.71252 12.375 8.26252 11.925C7.81252 11.475 7.58752 10.9058 7.58752 10.2175C7.58752 9.54601 7.81252 8.97101 8.26252 8.49251C8.71252 8.01417 9.29002 7.77501 9.99502 7.77501C10.6999 7.77501 11.279 8.01417 11.7325 8.49251C12.1859 8.97101 12.4125 9.54601 12.4125 10.2175C12.4125 10.9058 12.1859 11.475 11.7325 11.925C11.279 12.375 10.6999 12.6 9.99502 12.6ZM2.32502 17.15C1.87602 17.15 1.48461 16.9831 1.15077 16.6493C0.816941 16.3154 0.650024 15.924 0.650024 15.475V4.91251C0.650024 4.46351 0.816941 4.07209 1.15077 3.73826C1.48461 3.40442 1.87602 3.23751 2.32502 3.23751H5.32502L6.56252 1.55001C6.73652 1.32434 6.94194 1.15126 7.17877 1.03076C7.41561 0.910256 7.66852 0.850006 7.93752 0.850006H12.0625C12.3315 0.850006 12.5844 0.910256 12.8213 1.03076C13.0581 1.15126 13.2635 1.32434 13.4375 1.55001L14.675 3.23751H17.675C18.1407 3.23751 18.5363 3.40442 18.8618 3.73826C19.1873 4.07209 19.35 4.46351 19.35 4.91251V15.475C19.35 15.924 19.1873 16.3154 18.8618 16.6493C18.5363 16.9831 18.1407 17.15 17.675 17.15H2.32502Z"></svg>
			</a>
		</li>
		<li>
			<a href="https://ohai.social/@aroma" rel="noreferrer" target="_blank" aria-label="My Mastodon profile" title="My Mastodon profile">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.655495 20.000168" height="20"><path d="m 18.257763,11.99 c -0.274,1.41 -2.456,2.955 -4.962,3.254 -1.306,0.156 -2.593,0.3 -3.9650003,0.236 -2.243,-0.103 -4.014,-0.535 -4.014,-0.535 0,0.218 0.014,0.426 0.04,0.62 0.292,2.215 2.196,2.347 4,2.41 1.8200003,0.062 3.4400003,-0.45 3.4400003,-0.45 l 0.076,1.646 c 0,0 -1.274,0.684 -3.5420003,0.81 -1.25,0.068 -2.803,-0.032 -4.612,-0.51 -3.92300005,-1.039 -4.59800005,-5.22 -4.70100005,-9.464 -0.031,-1.26 -0.012,-2.447 -0.012,-3.44 0,-4.34 2.84300005,-5.611 2.84300005,-5.611 1.433,-0.658 3.892,-0.935 6.45,-0.956 h 0.062 c 2.5570003,0.02 5.0180003,0.298 6.4510003,0.956 0,0 2.843,1.272 2.843,5.61 0,0 0.036,3.201 -0.397,5.424 z m -2.956,-5.087 c 0,-1.074 -0.273,-1.927 -0.822,-2.558 -0.567,-0.631 -1.308,-0.955 -2.229,-0.955 -1.065,0 -1.871,0.41 -2.4050003,1.228 l -0.518,0.87 -0.519,-0.87 c -0.533,-0.818 -1.339,-1.228 -2.404,-1.228 -0.921,0 -1.663,0.324 -2.229,0.955 -0.549,0.631 -0.822,1.484 -0.822,2.558 v 5.253 h 2.081 V 7.057 c 0,-1.075 0.452,-1.62 1.357,-1.62 1,0 1.501,0.647 1.501,1.927 v 2.79 h 2.0700003 v -2.79 c 0,-1.28 0.5,-1.927 1.5,-1.927 0.905,0 1.358,0.545 1.358,1.62 v 5.1 h 2.08 V 6.902 Z" /></svg>
			</a>
		</li>
	</ul>
</div>

<style>
.vi-navbar {
	position: sticky;
	inset: .5em 0 auto;
	margin: 0 .5em 0;
	background-color: var(--vi-navbar-background-color);
	padding: 0.5rem 1rem;
	border-radius: .75rem;
	border: solid 1px hsl(var(--vi-body-color--hsl)/20%);
	box-shadow: 2px 2px 10px hsl(0 0% 0%/10%), -2px -8px 8px hsl(var(--vi-accent-color--hsl)/10%) inset;
	backdrop-filter: blur(10px);

	display: flex;
	justify-content: space-between;

	z-index: 999
}

#aroma-logo {
	height: 2rem;
	opacity: 0.9
}

#aroma-logo path {
	fill: var(--vi-body-color);
	transition: fill .3s;
}

.vi-navbar__homepage:hover #triangle-left,
.vi-navbar__homepage:focus-visible #triangle-left {
	fill: var(--vi-accent-color);
}

.vi-navbar__homepage:hover #triangle-right,
.vi-navbar__homepage:focus-visible #triangle-right {
	fill: var(--vi-accent-color--secondary);
}

.vi-navbar__social-media {
	list-style: none;
	display: flex;
	gap: .75rem;
	align-items: center;
	margin: 0;
}

.vi-navbar__social-media svg {
	height: 1.25em;
	width: auto;
	fill: var(--vi-body-color);
	transition: fill .2s;
	opacity: 0.9
}

.vi-navbar__social-media a:hover svg,
.vi-navbar__social-media a:focus-visible svg {
	fill: var(--vi-body-color--hover);
}
</style>