---
import Logo from "../assets/logo.svg";
---
<div class="vi-navbar">
	<a href="/" title="Go to homepage" aria-label="Go to homepage" class="vi-navbar__homepage">
		<Logo />
	</a>
	<ul class="vi-navbar__social-media">
		<li>
			<a href="https://ohai.social/@aroma" rel="noreferrer" target="_blank" aria-label="My Mastodon profile" title="My Mastodon profile">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.655495 20.000168" height="20"><path d="m 18.257763,11.99 c -0.274,1.41 -2.456,2.955 -4.962,3.254 -1.306,0.156 -2.593,0.3 -3.9650003,0.236 -2.243,-0.103 -4.014,-0.535 -4.014,-0.535 0,0.218 0.014,0.426 0.04,0.62 0.292,2.215 2.196,2.347 4,2.41 1.8200003,0.062 3.4400003,-0.45 3.4400003,-0.45 l 0.076,1.646 c 0,0 -1.274,0.684 -3.5420003,0.81 -1.25,0.068 -2.803,-0.032 -4.612,-0.51 -3.92300005,-1.039 -4.59800005,-5.22 -4.70100005,-9.464 -0.031,-1.26 -0.012,-2.447 -0.012,-3.44 0,-4.34 2.84300005,-5.611 2.84300005,-5.611 1.433,-0.658 3.892,-0.935 6.45,-0.956 h 0.062 c 2.5570003,0.02 5.0180003,0.298 6.4510003,0.956 0,0 2.843,1.272 2.843,5.61 0,0 0.036,3.201 -0.397,5.424 z m -2.956,-5.087 c 0,-1.074 -0.273,-1.927 -0.822,-2.558 -0.567,-0.631 -1.308,-0.955 -2.229,-0.955 -1.065,0 -1.871,0.41 -2.4050003,1.228 l -0.518,0.87 -0.519,-0.87 c -0.533,-0.818 -1.339,-1.228 -2.404,-1.228 -0.921,0 -1.663,0.324 -2.229,0.955 -0.549,0.631 -0.822,1.484 -0.822,2.558 v 5.253 h 2.081 V 7.057 c 0,-1.075 0.452,-1.62 1.357,-1.62 1,0 1.501,0.647 1.501,1.927 v 2.79 h 2.0700003 v -2.79 c 0,-1.28 0.5,-1.927 1.5,-1.927 0.905,0 1.358,0.545 1.358,1.62 v 5.1 h 2.08 V 6.902 Z" /></svg>
			</a>
		</li>
	</ul>
</div>

<style>
.vi-navbar {
	position: sticky;
	inset: .5em 0 auto;
	margin: 0 .5em 0;
	background-color: var(--vi-navbar-background-color);
	padding: 0.5rem 1rem;
	border-radius: .75rem;
	border: solid 1px hsl(var(--vi-body-color--hsl)/20%);
	box-shadow: 2px 2px 10px hsl(0 0% 0%/10%), -2px -8px 8px hsl(var(--vi-accent-color--hsl)/10%) inset;
	backdrop-filter: blur(10px);

	display: flex;
	justify-content: space-between;

	z-index: 999
}

.vi-navbar__social-media {
	list-style: none;
	display: flex;
	gap: .75rem;
	align-items: center;
	margin: 0;
}

.vi-navbar__social-media svg {
	height: 1.25em;
	width: auto;
	fill: var(--vi-body-color);
	transition: fill .2s;
	opacity: 0.9
}

.vi-navbar__social-media a:hover svg,
.vi-navbar__social-media a:focus-visible svg {
	fill: var(--vi-body-color--hover);
}
</style>

<style is:global>
#aroma-logo {
	height: 2rem;
	opacity: 0.9
}

#aroma-logo path {
	fill: var(--vi-body-color);
	transition: fill .3s;
}

.vi-navbar__homepage:hover #triangle-left,
.vi-navbar__homepage:focus-visible #triangle-left {
	fill: var(--vi-accent-color);
}

.vi-navbar__homepage:hover #triangle-right,
.vi-navbar__homepage:focus-visible #triangle-right {
	fill: var(--vi-accent-color--secondary);
}
</style>